extends partial/layout

block content
    include components/nav
    article
      header
        h1.title!= page.title
        if page.hideDate !== true
          i.icon-calendar
          span!= date(page.date, 'YYYY.MM.DD')
      .content!=page.content